@use 'vars' as *;

.iz-md-meta-box-content {
    .checkbox-label{
        cursor: pointer;
    }

    .iz-md-manual-content-wrapper {
        &.is-hidden {
            display: none;
        }

        textarea {
            width: 100%;
            font-family: monospace;
            resize: vertical;
        }

        .description {
            color: $color-text-muted;
        }
    }
}
